<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css" type="text/css" media="all" />
    <title>Test pan and zoom on canvas</title>
</head>
<body>
    {% block content %}{% endblock %}
    <script src="/static/js/createjs-2015.11.26.min.js"></script>
    <script src="/static/js/easeljs-0.8.2.min.js"></script>
    <script src="/static/js/tweenjs-0.6.2.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/backbone-min.js"></script>
    <script src="/static/js/DrawingArea.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
