*{ margin: 0; padding: 0; font-family: Monospace; font-size: 12px;}

a{ color: #0099dd; text-decoration: none; }
a:hover, a:focus { color: #0099dd; text-decoration: underline; }

.box{
    border-color: #ccc;
    border-style: solid;
    border-width: 10px 1px 1px 1px;
    background-color: #eee;
    position: absolute;
}
.browser ul{
    width: 200px;
    overflow-x: auto;
}
.browser ul li{
    font-size: 8px;
    width: 400px;
}

.watch{
    font-size: 12px;
    color: #657b83;
    resize: both;
    overflow: auto;
}
.watch .filename{
    font-weight: bold;
}
.watch pre{
    display: block;
    font-size: 2px;
    background-color: #fdf6e3;
    /*
    resize: both;
    overflow: auto;
    */
    margin: 0;
}

@keyframes active {
    0%   { box-shadow: 0px 0px 0px 5px #fff, 0px 0px 0px 10px #fdd; }
    20%  { box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px  7px #fdd; }
    100% { box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px  7px #fdd; }
}

.active{
    box-shadow: 0px 0px 0px 5px #fff, 0px 0px 0px 7px #fdd;
    animation: active 2.5s ease-in-out 0s infinite alternate;
    transition: top 0.1s, left 0.1s;
}

/*
div.watch:hover::before{
    background: #eee;
    border: 1px solid #ccc;
    position: absolute;
    content: "";
    top: -22px;
    right: -1px;
    width: 80px;
    height: 20px;
}
*/
